<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Form Layout
    </amexio-header>
    <amexio-body>

    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'Cancel'" [icon]="'fa fa-close fa 2x'" [type]="'default'" [tooltip]="'button'" [size]="'default'" [form-bind]="'cancel'">
        </amexio-button>
        <amexio-button [label]="'Save'" [icon]="'fa fa-save fa 2x'" [type]="'theme-color'" [tooltip]="'save'" [size]="'default'" [form-bind]="'save'">
        </amexio-button>

    </amexio-action>
</amexio-card>